<!DOCTYPE html>
<html lang="en" class="w-screen h-main md:h-screen">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dots and Boxes Online | Sign In</title>
    <link type="text/css" rel="stylesheet" href="tailwind_build.css">
</head>
<body class=" bg-biege w-screen h-full flex flex-col md:flex-row justify-center items-center">
    <main class="w-11/12 h-5/6 main-border font-mono flex flex-col md:flex-row justify-center items-center">
        <section id="title" class="basis-2/4 w-full md:h-full font-black flex flex-col justify-evenly items-center text-4xl">
            <div id="dots" class="basis-1/4 w-full flex justify-center items-center bg-blue-700">DOTS</div>
            <div id="and" class="basis-1/4 w-full flex justify-center items-center bg-green-600">AND</div>
            <div id="boxes" class="basis-1/4 w-full flex justify-center items-center bg-yellow-500">BOXES</div>
            <div id="online" class="basis-1/4 w-full flex justify-center items-center bg-red-600">ONLINE</div>
        </section>
        <section id="form" class="basis-2/4 w-full md:h-full font-bold flex flex-col justify-evenly items-center"> 
            <form action="/login" method="post" class="basis-2/3 w-full flex flex-col justify-evenly items-center">
                <h2 class="font-black flex justify-center text-4xl">SIGN IN</h2>
               <%if(user.length>0){%>
               <div id="registered" class=""><%=user%> registered!</div><%}%>
               <%if (Object.keys(error).length>0){
                Object.values(error).forEach(element => {%>
                 <div id="errors" class="text-red"><%=element%></div>
                <%});}%>
                <div id="email-div" class="w-full flex flex-col p-[2%] text-2xl">
                    <label for="email">Username or E-mail ID</label>
                    <input required type="text" name="email" id="email" class="input-border p-[2%]">
                </div>
                <div id="password-div" class="w-full flex flex-col p-[2%] text-2xl">
                    <label for="username">Password</label>
                    <input required type="password" name="password" id="password" minlength="8" class="input-border p-[2%]">
                </div>
                <button type="submit" class="w-11/12 p-[2%] text-xl input-border hover:bg-black hover:text-white">Sign In</button>
            </form>
            <a href="#" id="forgot-password" class="text-xl hover:text-rose-700">Forgot Password?</a>
            <a href="/signup" id="new-here" class="text-xl hover:text-rose-700">New here?Sign Up</a>
        </section>
    </main>
</body>
</html>